@model Webbarinak3.Models.Siniflar.Request2

@{
    Layout = "_Layout2";
    ViewData["Title"] = "Hayvan Kabul Formu";
}


<h4>Hayvan Kabul Formu</h4>
@if (TempData["Hata"] is not null)
{
    <h3 style="color:red">@TempData["Hata"]</h3>
}
@if (TempData["Basarili"] is not null)
{
    <h3 style="color:green">@TempData["Basarili"]</h3>
}
<hr />
<form class="form-group" method="post">
    @Html.LabelFor(x=>x.Turu)
    @Html.DropDownListFor(x=>x.Turu,new SelectList(ViewBag.AnimalType),"Seçiniz", new{@class="form-control"})
    <br />
    @Html.LabelFor(x=>x.Cinsi)
    @Html.TextBoxFor(x=>x.Cinsi, new{@class="form-control"})
    <br />
    @Html.LabelFor(x=>x.Yasi)
    @Html.TextBoxFor(x=>x.Yasi, new{@class="form-control"})
    <br />
    @Html.LabelFor(x=>x.SaglikDurumu)
    @Html.DropDownListFor(x=>x.SaglikDurumu,new SelectList(ViewBag.Health),"Seçiniz", new{@class="form-control"})
    <br />
    <button class="btn btn-primary">Hayvan Ekle</button>
</form>
